.fancy-font {
  font-family: var(--font-peanut-butter), sans-serif;
  font-weight: 10;
  font-size: xx-large;
}

html,
body {
  font-family: var(--font-roboto), sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.main-content {
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
}

.content::after {
  content: "";
  flex: auto;
}
.background-column {
  background-color: #f8f9fa;
}
.custom-control-label {
  padding-right: 2.5rem;
}
.custom-control-label:before,
.custom-control-label:after {
  left: unset;
  right: 0;
}
.custom-control-label:after {
  right: 1.5rem;
}
/* .navbar-nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */
.form-check {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.form-check-input {
  margin-top: 0.8rem;
}

.row {
  --bs-gutter-x: 0;
}
.card {
  width: 18rem;
  height: auto;
  box-shadow: 5px 5px #878787;
}
.card-body {
  display: flex;
  flex-direction: column;
}
.card-text {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
}

.card-as-button {
  text-decoration: none;
  cursor: pointer;
  color: var(--bs-body-color);
  transition: transform 0.2s ease;
  border-radius: 0;
  margin: 10px;
}
.card-as-button:hover {
  transform: scale(1.05);
}

.card-img, .card-img-top {
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}

.text-title {
  font-size: 55px;
  text-align: center;
}

.table th,
.table td {
  border-top: none;
  border-bottom: none;
}
.table th:not(:first-child),
.table td:not(:first-child) {
  border-left: 1px solid #dee2e6;
}
.image-left {
  float: left;
  margin-left: 20px;
}
.image-right {
  float: right;
  margin-right: 20px;
}
.image-center {
  vertical-align: middle;
  text-align: center;
}
.image-shrink {
  width: 200px;
  height: 200px;
}
.text-left {
  text-align: left;
  vertical-align: middle;
  padding-left: 20px !important;
}
.text-right {
  text-align: right;
  vertical-align: middle;
  padding-right: 20px !important;
}
.text-shrink {
  font-size: auto;
}
.equal-width-table {
  table-layout: fixed;
}
.equal-width-table th,
.equal-width-table td {
  width: 25%;
}

@media screen and (max-width: 750px) {
  .text-shrink {
    font-size: 1rem;
  }
}

@media screen and (max-width: 580px) {
  .text-shrink {
    font-size: 0.8rem;
  }
  .image-shrink {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 350px) {
  .text-shrink {
    font-size: 0.6rem;
  }
  .image-shrink {
    width: 130px;
    height: 130px;
  }
}
@media screen and (max-width: 320px) {
  .image-shrink {
    width: 90px;
    height: 90px;
  }
}