@use "../../../styles/variables" as v;
@use "../../../styles/mixins" as m;

.projects-grid {
  @include m.flex(flex-start);
  flex-wrap: wrap;
  gap: v.$spacing-md;
  padding: v.$spacing-sm;
  max-width: 1300px;
  margin: 0 auto;
}
