<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Jessica Wylde" />
    <title>Jessica Wylde</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/stylesheet.css" rel="stylesheet" />
</head>
<script src="js/bootstrap.bundle.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<body class="d-flex flex-column h-100">

</body>

</html>
