@use '../../../styles/variables' as v;
@use '../../../styles/mixins' as m;

.footer {
  background-color: v.$primary-color;
  color: v.$white;
  text-align: center;
  padding: v.$spacing-xs;
  position: relative;
  width: 100%;
}
